/* CSS Document */

body {
	min-height: 100vh;
	margin: 0;
	position: relative;
}

#background-img {
	background: url(../images/home-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home-badge-padding {
	padding: 15% 5% 0 5%;
}

.indent {
	text-indent: 2em;
}

.full-height {
	height: 100%;
}

.remove-padding {
	padding: 0;
}

.text-color-white {
	color: #FFF;
}

.lh-2 {
	line-height: 2em;
}

.img-50 {
	width: 100%;
	height: auto;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
	position: relative;	
    bottom: 0;	
}

.hangingindent {
  padding-left: 2em;
  text-indent: -2em;
}