/* CSS Document */

html {
	height: 90%;
}

body {
	height: 90%;
}

#background-img {
	background: url(../images/home-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home-badge-padding {
	padding: 15% 5% 0 5%;
}

.indent {
	text-indent: 2em;
}

.full-height {
	height: 100%;
}

.remove-padding {
	padding: 0;
}

.text-color-white {
	color: #000;
}

.lh-2 {
	line-height: 2em;
}